# Ignore the build and lib dirs
build/*
lib/*
obj/*

# Ignore any executables


# Ignore vim buffer
.*.swp
.*.swo

# specific to CodeBlocks IDE
*.layout
*.depend

# generated directories
bin/*

# Ignore Mac specific files
.DS_Store
